@font-face {
    font-family: "font-regular";
    src: url('fonts/font.otf');
}
@font-face{
    font-family: "font-bold";
    src: url('fonts/font-bold.otf');
}
@font-face{
    font-family: "font-italic";
    src: url('fonts/font-italic.otf');
}
html{
    overflow-x: hidden;
}
body {
    color: white;
    background-image: url(imgs/background.jpg);
    background-size: cover;
    background-color: black;
    margin: 0;
    font-family: font-regular, Inter;
}
b{
    font-family: font-bold, Inter;
}
i{
    font-family: font-italic, Inter;
}
.nav{
    background-color: rgba(29, 29, 31, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: absolute;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 8px;
    text-align: center;
    font-size: 17px;
    z-index: 999999999999999;
}
.seperator{
    color: lawngreen;
}
.nav a{
    color: #a3a3a3;
    text-decoration: none;
}
.nav a:hover{
    color: #ffffff;
    text-decoration: underline;
}
.nav a img{
    height: 15px !important;
}
.ss-conatiner{
    width: 60%;
    float: right;
}
.text{
    width: 33%;
    float: left;
    margin-top: 50px;
    margin-left: 40px;
}
.text .heading{
    font-size: 45px;
    margin: 0;
}
.text .heading-text{
    font-size: 30px;
    letter-spacing: 3px;
}
.text .clock{
    font-size: 18px;
    letter-spacing: 1px;
}
.text #mercury-counter, .text #venus-counter, .text #earth-counter, .text #mars-counter, .text #asteroid-belt-counter, .text #jupiter-counter,  .text #saturn-counter, .text #uranus-counter, .text #neptune-counter, .text #pluto-counter{
    font-weight: 600;
}
.text .counter{
    letter-spacing: 1px;
    font-size: 23px;
}
.mobile-description{
    display: none;
}
ul.planets-years-passed{
    padding-left: 20px;
}
.mercury-color{
    font-weight: bold;
    color: #b6bac5;
    font-size: 23px !important;
}
.venus-color{
    font-weight: bold;
    color: #bf8639;
    font-size: 23px !important;
}
.earth-color{
    font-weight: bold;
    color: #06f;
    font-size: 23px !important;
}
.mars-color{
    font-weight: bold;
    color: #aa4200;
    font-size: 23px !important;
}
.asteroid-belt-color{
    font-weight: bold;
    color: #969696;
    font-size: 23px !important;
}
.jupiter-color{
    font-weight: bold;
    color: #e0ae6f;
    font-size: 23px !important;
}
.saturn-color{
    font-weight: bold;
    color: #dfd3a9;
    font-size: 23px !important;
}
.uranus-color{
    font-weight: bold;
    color: #82b3d1;
    font-size: 23px !important;
}
.neptune-color{
    font-weight: bold;
    color: #77c2ec;
    font-size: 23px !important;
}
.pluto-color{
    font-weight: bold;
    color: #7c6a5c;
    font-size: 23px !important;
}
ul.solar-system {
    padding: 0;
    width: 100%;
    position: relative;
    height: 640px;
    list-style: none;
    -webkit-transition: all 0.09s ease-in;
    -moz-transition: all 0.09s ease-in;
    -o-transition: all 0.09s ease-in;
    transition: all 0.09s ease-in;
    overflow: hidden;
}
ul.solar-system li {
    text-indent: -9999px;
    display: block;
    position: absolute;
    border: 2px solid #394057;
}
ul.solar-system li span {
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
ul.solar-system li.sun-star {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #fc3;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.22, rgb(204,153,0)),
        color-stop(1, rgb(255,219,112))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(204,153,0) 22%,
        rgb(255,219,112) 100%
    );
    top: 302px;
    left: 462px;
    border: none;
    -webkit-box-shadow: 0 0 50px #c90;
    -moz-box-shadow: 0 0 50px #c90;
    box-shadow: 0 0 50px #c90;
    z-index: 100;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
ul.solar-system li.sun-star span {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;   
}
ul.solar-system li.mercury-planet {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    border-radius: 52px;
    top: 270px;
    left: 430px;
    z-index: 99;
}
ul.solar-system li.mercury-planet span {
    background: #b6bac5;
    top: 10px;
    left: 10px;
}
ul.solar-system li.venus-planet {
    width: 160px;
    height: 160px;
    -webkit-border-radius: 82px;
    -moz-border-radius: 82px;
    border-radius: 82px;
    top: 240px;
    left: 400px;
    z-index: 98;
}
ul.solar-system li.venus-planet span {
    background: #bf8639;
    top: 118px;
    left: 5px;
}
ul.solar-system li.earth-planet {
    width: 220px;
    height: 220px;
    -webkit-border-radius: 112px;
    -moz-border-radius: 112px;
    border-radius: 112px;
    top: 210px;
    left: 370px;
    z-index: 97;
}
ul.solar-system li.earth-planet span {
    background: #06c;
    top: 56px;
    left: 5px;
}
ul.solar-system li.earth-planet span.earth-moon {
    width: 4px;
    height: 4px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #ccc;
    top: 12px;
    left: 12px;
}
ul.solar-system li.mars-planet {
    width: 280px;
    height: 280px;
    -webkit-border-radius: 142px;
    -moz-border-radius: 142px;
    border-radius: 142px;
    top: 180px;
    left: 340px;
    z-index: 96;
}
ul.solar-system li.mars-planet span {
    background: #aa4200;
    top: 0px;
    left: 175px;
}
ul.solar-system li.asteroids-meteorids {
    top: 155px;
    left: 315px;
    z-index: 100000000000000000;
    background: url(imgs/asteroids-meteorids.png) no-repeat 0 0;
    width: 330px;
    height: 330px;
    -webkit-border-radius: 165px;
    -moz-border-radius: 165px;
    border-radius: 165px;
    border: none;
}
ul.solar-system li.jupiter-planet {
    width: 340px;
    height: 340px;
    -webkit-border-radius: 172px;
    -moz-border-radius: 172px;
    border-radius: 172px;
    top: 150px;
    left: 310px;
    z-index: 95;
}
ul.solar-system li.jupiter-planet span {
    background: #e0ae6f;
    top: 67px;
    left: 24px;
}
ul.solar-system li.saturn-planet {
    width: 400px;
    height: 400px;
    -webkit-border-radius: 202px;
    -moz-border-radius: 202px;
    border-radius: 202px;
    top: 120px;
    left: 280px;
    z-index: 94;
}
ul.solar-system li.saturn-planet span {
    background: #dfd3a9;
    top: 24px;
    left: 300px;
}
ul.solar-system li.saturn-planet span.saturn-ring {
    width: 12px;
    height: 12px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: none;
    border: 2px solid #5a4e34;
    left: -3px;
    top: -3px;
    -webkit-transform: skewY(50deg);
    -moz-transform: skewY(50deg);
    -o-transform: skewY(50deg);
    transform: skewY(50deg);
}
ul.solar-system li.uranus-planet {
    width: 460px;
    height: 460px;
    -webkit-border-radius: 232px;
    -moz-border-radius: 232px;
    border-radius: 232px;
    top: 90px;
    left: 250px;
    z-index: 93;
}
ul.solar-system li.uranus-planet span {
    background: #82b3d1;
    top: 7px;
    left: 300px;
}
ul.solar-system li.neptune-planet {
    width: 520px;
    height: 520px;
    -webkit-border-radius: 262px;
    -moz-border-radius: 262px;
    border-radius: 262px;
    top: 60px;
    left: 220px;
    z-index: 92;
}
ul.solar-system li.neptune-planet span {
    background: #77c2ec;
    top: 0px;
    left: 200px;
}
ul.solar-system li.pluto-planet {
    width: 580px;
    height: 580px;
    -webkit-border-radius: 292px;
    -moz-border-radius: 292px;
    border-radius: 292px;
    top: 30px;
    left: 190px;
    z-index: 91;
}
ul.solar-system li.pluto-planet span {
    background: #7c6a5c;
    top: 79px;
    left: 79px;
}
ul.solar-system li {
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-name: planet-orbit;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -moz-animation-name: planet-orbit;
}
ul.solar-system li.mercury-planet {
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
}
ul.solar-system li.venus-planet {
    -webkit-animation-duration: 4.8s;
    -moz-animation-duration: 4.8s;
}
ul.solar-system li.earth-planet {
    -webkit-animation-duration: 7.2s;
    -moz-animation-duration: 7.2s;
}
ul.solar-system li.earth-planet span {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
}
ul.solar-system li.earth-planet span {
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-name: earth-moon;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -moz-animation-name: earth-moon;
}
ul.solar-system li.mars-planet {
    -webkit-animation-duration: 12s;
    -moz-animation-duration: 12s;
}
ul.solar-system li.asteroids-meteorids {
    -webkit-animation-duration: 15s;
    -moz-animation-duration: 15s;
}
ul.solar-system li.jupiter-planet {
    -webkit-animation-duration: 18s;
    -moz-animation-duration: 18s;
}
ul.solar-system li.saturn-planet {
    -webkit-animation-duration: 36s;
    -moz-animation-duration: 36s;
}
ul.solar-system li.uranus-planet {
    -webkit-animation-duration: 42s;
    -moz-animation-duration: 42s;
}
ul.solar-system li.neptune-planet {
    -webkit-animation-duration: 60s;
    -moz-animation-duration: 60s;
}
ul.solar-system li.pluto-planet {
    -webkit-animation-duration: 120s;
    -moz-animation-duration: 72s;
}
@-webkit-keyframes planet-orbit {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg)
    }
}
@-webkit-keyframes earth-moon {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg)
    }
}
@-moz-keyframes planet-orbit {
    from {
        -moz-transform: rotate(0deg)
    }
    to {
        -moz-transform: rotate(360deg)
    }
}
@-moz-keyframes earth-moon {
    from {
        -moz-transform: rotate(0deg)
    }
    to {
        -moz-transform: rotate(360deg)
    }
}
::-webkit-scrollbar{
    display: none;
}
@media only screen and (max-device-width: 813px) {
    body{
        overflow-x: hidden;
    }
    .nav{
        padding: 2px;
    }
    .mobile-description{
        display: block;
        width: 90%;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        font-size: 24px;
    }
    .ss-conatiner{
        float: none;
        width: 100%;
    }
    .text{
        width: 90%;
        float: none;
        margin-top: 50px;
        margin-left: 20px;
        margin-bottom: 20px;
        font-size: 20px;
    }
}